<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Your Concerts</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <div class="all-concerts-body">
      <div class="all-concerts-header">
        <h1>Your Concerts</h1>
        <a href="/users/<%=user._id%>/concerts/new">Add a new Concert</a>
      </div>
      <ul>
        <% concerts.forEach((concert)=> { %>

          <a href="/users/<%= user._id %>/concerts/<%= concert._id %>">
            <li>
              <%= concert.bandName %> seen on <%= concert.date %>
            </li>
          </a>
          <% }) %>
    </div>
</body>

</html>